In [1]:
# Import Libraries
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [2]:
df = pd.read_csv('Model/preprocessing.csv')
events = df.iloc[:,3:]
print(events.head())

   Event1  Event2
0       7       5
1       0      11
2       6       4
3       1      11
4       3       0

In [3]:
eve = pickle.load(open('Model/Events.pickle','rb'))
dom = pickle.load(open('Model/Domain.pickle','rb'))

In [4]:
s = input('Enter the sentence: ')

Enter the sentence: Hackathon

In [5]:
ev = [i for i in eve if i in s]
d = [i for i in dom if i in s]

In [6]:
print(dom)

{'artificial intelligence': 0, 'blockchain': 1, 'c': 2, 'c++': 3, 'cloud computing': 4, 'coding': 5, 'data science': 6, 'development processes': 7, 'finance': 8, 'hardware': 9, 'higher education': 10, 'iot': 11, 'java': 12, 'javascript': 13, 'machine learning': 14, 'management': 15, 'mobile applications': 16, 'networking': 17, 'other': 18, 'python': 19, 'security': 20, 'software architecture': 21, 'web development': 22}

In [7]:
event1 = input("Enter Event 1: ")
event2 = input("Enter Event 2: ")

Enter Event 1: Certifications
Enter Event 2: Webinars

In [8]:
event1 = eve[event1.lower()]
event2 = eve[event2.lower()]

In [9]:
similar_metrics = cosine_similarity(events)
result = np.where(events == [event1,event2])[0][0]

In [10]:
result = list(enumerate(similar_metrics[result]))
result = sorted(result,key= lambda x: x[1],reverse=True)
top = result[:5]

In [11]:
lst = [(df['Name'].iloc[i[0]]) for i in top]

In [12]:
print(s, '|', lst[0], ',' ,lst[1], ',' ,lst[2], ',', lst[3], ',', lst[4])

Hackathon | Joseph Sullivan , Curtis Ortega , David Foster , Christine Potter , Ernest Pierce

In [13]:
df1 = pd.DataFrame([s], columns=['Event Name'])
df1

  Event Name
0  Hackathon

In [14]:
df1['Employee Name'] = [lst]
df1

  Event Name                                      Employee Name
0  Hackathon  [Joseph Sullivan, Curtis Ortega, David Foster,...

In [15]:
def converttostr(input_seq, seperator):
   final_str = seperator.join(input_seq)
   return final_str

In [16]:
seperator = ', '
print("Recommended Employees: ", converttostr(lst, seperator))

Recommended Employees:  Joseph Sullivan, Curtis Ortega, David Foster, Christine Potter, Ernest Pierce

In [17]:
## Saving file to xls
import xlwt 
from xlwt import Workbook 
  
wb = Workbook() 
  
sheet1 = wb.add_sheet('Sheet 1')

sheet1.write(0, 0, 'Event Name') 
sheet1.write(0, 1, 'Employee Name') 
sheet1.write(1, 0, s)
sheet1.write(1, 1, converttostr(lst, seperator))

wb.save('output.xls')