In [1]:
# Import Libraries
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [2]:
df = pd.read_csv('Model/preprocessing.csv')
events = df.iloc[:,3:]
print(events.head())

   Event1  Event2
0       7       5
1       0      11
2       6       4
3       1      11
4       3       0

In [3]:
eve = pickle.load(open('Model/Events.pickle','rb'))
dom = pickle.load(open('Model/Domain.pickle','rb'))

In [4]:
s = input('Enter the sentence: ')

Enter the sentence: Hackathon

In [5]:
ev = [i for i in eve if i in s]
d = [i for i in dom if i in s]

In [6]:
print(dom)

{'artificial intelligence': 0, 'blockchain': 1, 'c': 2, 'c++': 3, 'cloud computing': 4, 'coding': 5, 'data science': 6, 'development processes': 7, 'finance': 8, 'hardware': 9, 'higher education': 10, 'iot': 11, 'java': 12, 'javascript': 13, 'machine learning': 14, 'management': 15, 'mobile applications': 16, 'networking': 17, 'other': 18, 'python': 19, 'security': 20, 'software architecture': 21, 'web development': 22}

In [7]:
event1 = input("Enter Event 1: ")
event2 = input("Enter Event 2: ")

Enter Event 1: Certifications
Enter Event 2: Webinars

In [8]:
event1 = eve[event1.lower()]
event2 = eve[event2.lower()]

In [9]:
similar_metrics = cosine_similarity(events)
result = np.where(events == [event1,event2])[0][0]

In [10]:
result = list(enumerate(similar_metrics[result]))
result = sorted(result,key= lambda x: x[1],reverse=True)
top = result[:5]

In [11]:
lst = [(df['Name'].iloc[i[0]]) for i in top]

In [12]:
print(s, '|', lst[0], ',' ,lst[1], ',' ,lst[2], ',', lst[3], ',', lst[4])

Hackathon | Joseph Sullivan , Curtis Ortega , David Foster , Christine Potter , Ernest Pierce

In [13]:
df1 = pd.DataFrame([s], columns=['Event Name'])
df1

  Event Name
0  Hackathon

In [14]:
df1['Employee Name'] = [lst]
df1

  Event Name                                      Employee Name
0  Hackathon  [Joseph Sullivan, Curtis Ortega, David Foster,...

In [15]:
def converttostr(input_seq, seperator):
   final_str = seperator.join(input_seq)
   return final_str

In [16]:
seperator = ', '
print("Recommended Employees: ", converttostr(lst, seperator))

Recommended Employees:  Joseph Sullivan, Curtis Ortega, David Foster, Christine Potter, Ernest Pierce

In [17]:
## Saving file to xls
import xlwt 
from xlwt import Workbook 
  
wb = Workbook() 
  
sheet1 = wb.add_sheet('Sheet 1')

sheet1.write(0, 0, 'Event Name') 
sheet1.write(0, 1, 'Employee Name') 
sheet1.write(1, 0, s)
sheet1.write(1, 1, converttostr(lst, seperator))

wb.save('output.xls')

In [ ]:
###

In [31]:
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

df = pd.read_csv('Model/preprocessing.csv')
events = df.iloc[:,3:]

eve = pickle.load(open('Model/Events.pickle','rb'))
dom = pickle.load(open('Model/Domain.pickle','rb'))

In [55]:
lookup = []
recommendations = []

In [56]:
def predict():
    s = input('Enter the sentence: ')
    
    ev = [i for i in eve if i in s]
    d = [i for i in dom if i in s]
    
    event1 = input("Enter Event 1: ")
    event2 = input("Enter Event 2: ")
    
    event1 = eve[event1.lower()]
    event2 = eve[event2.lower()]
    
    similar_metrics = cosine_similarity(events)
    result = np.where(events == [event1,event2])[0][0]
    
    result = list(enumerate(similar_metrics[result]))
    result = sorted(result,key= lambda x: x[1],reverse=True)
    top = result[:5]
    
    lst = [(df['Name'].iloc[i[0]]) for i in top]
    
    print(s, '|', lst[0], ',' ,lst[1], ',' ,lst[2], ',', lst[3], ',', lst[4])
    
    global lookup
    global recommendations
    
    lookup.append(",".join([s, lst[0], lst[1] ,lst[2], lst[3], lst[4]]))
    recommendations.append(lst)

In [57]:
N = int(input("Enter total no of Jobs/Internships available: "))

for _ in range(N):
    predict()

Enter total no of Jobs/Internships available: 3
Enter the sentence: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs | Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Enter the sentence: Event
Enter Event 1: Webinars
Enter Event 2: Webinars
Event | Joseph Sullivan , Curtis Ortega , David Foster , Christine Potter , Ernest Pierce
Enter the sentence: Hackthon
Enter Event 1: Webinars
Enter Event 2: Jobs
Hackthon | David Cox , Adam Richards , Daniel Lopez , Corey Moran , Melissa Diaz

In [58]:
lookup

['Jobs,Bryan Brock,Laura Hurst,Derek Schmidt,Andrea Thompson,Tracy Wilson',
 'Event,Joseph Sullivan,Curtis Ortega,David Foster,Christine Potter,Ernest Pierce',
 'Hackthon,David Cox,Adam Richards,Daniel Lopez,Corey Moran,Melissa Diaz']

In [59]:
lookup = [data.split(',') for data in lookup]
lookup

[['Jobs',
  'Bryan Brock',
  'Laura Hurst',
  'Derek Schmidt',
  'Andrea Thompson',
  'Tracy Wilson'],
 ['Event',
  'Joseph Sullivan',
  'Curtis Ortega',
  'David Foster',
  'Christine Potter',
  'Ernest Pierce'],
 ['Hackthon',
  'David Cox',
  'Adam Richards',
  'Daniel Lopez',
  'Corey Moran',
  'Melissa Diaz']]

In [60]:
df1 = pd.DataFrame([lookup[i][0] for i in range(N)], columns=['Event Name'])

In [61]:
df1

  Event Name
0       Jobs
1      Event
2   Hackthon

In [62]:
recommendations

[['Bryan Brock',
  'Laura Hurst',
  'Derek Schmidt',
  'Andrea Thompson',
  'Tracy Wilson'],
 ['Joseph Sullivan',
  'Curtis Ortega',
  'David Foster',
  'Christine Potter',
  'Ernest Pierce'],
 ['David Cox', 'Adam Richards', 'Daniel Lopez', 'Corey Moran', 'Melissa Diaz']]

In [65]:
df1[""]

  Event Name
0       Jobs
1      Event
2   Hackthon

In [66]:
len(recommendations)

3

In [67]:
df1['Employee Name'] = recommendations

In [68]:
df1

  Event Name                                      Employee Name
0       Jobs  [Bryan Brock, Laura Hurst, Derek Schmidt, Andr...
1      Event  [Joseph Sullivan, Curtis Ortega, David Foster,...
2   Hackthon  [David Cox, Adam Richards, Daniel Lopez, Corey...

In [69]:
## Saving file to xls
import xlwt 
from xlwt import Workbook 
  
wb = Workbook() 
  
sheet1 = wb.add_sheet('Sheet 1')

sheet1.write(0, 0, 'Event Name') 
sheet1.write(0, 1, 'Employee Name') 
#sheet1.write(1, 0, s)
#sheet1.write(1, 1, converttostr(lst, seperator))

#wb.save('output.xls')

In [71]:
def converttostr(input_seq, seperator=', '):
   final_str = seperator.join(input_seq)
   return final_str

In [73]:
for i in range(0,N):
    sheet1.write(i+1, 0, lookup[i][0])
    sheet1.write(i+1, 1, converttostr(recommendations[i]))

In [74]:
wb.save('output.xls')

## Final Phase for `code.py`

In [2]:
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

df = pd.read_csv('Model/preprocessing.csv')
events = df.iloc[:,3:]

eve,dom = pickle.load(open('Model/Events.pickle','rb')),pickle.load(open('Model/Domain.pickle','rb'))

lookup,recommendations = [],[]


def predict():
    s = input('Enter the sentence for Job/Internship: ')
    
    ev = [i for i in eve if i in s]
    d = [i for i in dom if i in s]
    
    event1 = input("Enter Event 1: ")
    event2 = input("Enter Event 2: ")
    
    event1 = eve[event1.lower()]
    event2 = eve[event2.lower()]
    
    similar_metrics = cosine_similarity(events)
    result = np.where(events == [event1,event2])[0][0]
    
    result = list(enumerate(similar_metrics[result]))
    result = sorted(result,key= lambda x: x[1],reverse=True)
    top = result[:5]
    
    lst = [(df['Name'].iloc[i[0]]) for i in top]
    
    print(s, '||', lst[0], ',' ,lst[1], ',' ,lst[2], ',', lst[3], ',', lst[4])
    
    global lookup
    global recommendations
    
    lookup.append(",".join([s, lst[0], lst[1] ,lst[2], lst[3], lst[4]]))
    recommendations.append(lst)
    
N = int(input("Enter total no of test to be done: "))

for _ in range(N):
    predict()
lookup = [data.split(',') for data in lookup]
df1 = pd.DataFrame([lookup[i][0] for i in range(N)], columns=['Event Name'])
df1['Employee Name'] = recommendations

def converttostr(input_seq, seperator=', '):
   final_str = seperator.join(input_seq)
   return final_str


## Saving file to xls
import xlwt 
from xlwt import Workbook 
  
wb = Workbook() 
  
sheet1 = wb.add_sheet('Sheet 1')

sheet1.write(0, 0, 'Event Name') 
sheet1.write(0, 1, 'Employee Name') 

for i in range(0,N):
    sheet1.write(i+1, 0, lookup[i][0])
    sheet1.write(i+1, 1, converttostr(recommendations[i]))
    
wb.save('output1.xls')
print("Xls sheet created with the name of output ")
print()
print()
print("Thanks !!")

Enter total no of test to be done: 5
Enter the sentence for Job/Internship: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs || Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Enter the sentence for Job/Internship: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs || Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Enter the sentence for Job/Internship: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs || Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Enter the sentence for Job/Internship: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs || Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Enter the sentence for Job/Internship: Jobs
Enter Event 1: Jobs
Enter Event 2: Jobs
Jobs || Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson
Xls sheet created with the name of output
Thanks !!